<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Web</title>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assests/css/Nav.css">
    <link rel="stylesheet" href="../assests/css/Detail.css">
  </head>
  <body>
    <!-- nav start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../assests/image/logggo.png" alt="ini logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="./home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./myProject.html">My Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./testimonial.html">Testimonial</a>
          </li>
        </ul>
        <button type="button" class="btn btn-secondary">
          <a href="./contact.html"
            class="contact-link text-decoration-none text-wrap"
            style="width: 6rem;">Contact Me</a>
        </button>
      </div>
    </nav>
    <!-- nav end -->

    <!-- content start -->
    <div class="container mt-5">
      <h1 class="mb-4">Dumbways Web App</h1>
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="project-image">
            <img src="../assests/image/Sukuna-1-1.jpg" alt="Project Image"
              class="img-fluid rounded">
          </div>
        </div>
        <div class="col-md-6">
          <div class="project-info">
            <div class="project-duration mb-3">
              <p><strong>Duration</strong></p>
              <p><i class='fas fa-calendar-alt'></i> 22 Agustus 2024 - 11
                Desember 2024</p>
              <p><i class='far fa-clock'></i> 1 month</p>
            </div>
            <div class="project-technologies">
              <p><strong>Technologies</strong></p>
              <div class="technologies">
                <div class="technology"><i class="fab fa-react"></i> React
                  Js</div>
                <div class="technology"><i class="fab fa-node-js"></i> Node
                  Js</div>
                <div class="technology"><i class="fab fa-js"></i>
                  JavaScript</div>
                <div class="technology"><i class="fab fa-ioxhost"></i>
                  Socket.IO</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="project-description mt-4">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eos
          a distinctio illo optio repellat nulla, eligendi fugiat laudantium
          minima doloribus, ad dolorem veniam laborum quasi beatae, harum modi
          qui! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
          eos a distinctio illo optio repellat nulla, eligendi fugiat laudantium
          minima doloribus, ad dolorem veniam laborum quasi beatae, harum modi
          qui! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
          eos a distinctio illo optio repellat nulla, eligendi fugiat laudantium
          minima doloribus, ad dolorem veniam laborum quasi beatae, harum modi
          qui! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
          eos a distinctio illo optio repellat nulla, eligendi fugiat laudantium
          minima doloribus, ad dolorem veniam laborum quasi beatae, harum modi
          qui!
        </p>
      </div>
    </div>
    <!-- content end -->
  </body>
</html>
