<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Web</title>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assests/css/startProjectHome.css">
    <link rel="stylesheet" href="../assests/css/Nav.css">
  </head>
  <body>
    <!-- nav start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../assests/image/logggo.png" alt="ini logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="./home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./myProject.html">My Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./testimonial.html">Testimonial</a>
          </li>
        </ul>
        <button type="button" class="btn btn-secondary">
          <a href="./contact.html"
            class="contact-link text-decoration-none text-wrap"
            style="width: 6rem;">Contact Me</a>
        </button>
      </div>
    </nav>
    <!-- nav end -->

    <!-- project content start -->
    <div class="container mt-5">
      <div class="profile-section row">
        <div class="col-md-7 profile-text">
          <h1 class="h1-footer">Hi Welcome to my hut</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            tristique purus orci libero egestas ut. Augue suspendisse blandit
            lorem massa ipsum, urna, egestas mi, lacinia. Dui fusce etiam
            libero, lectus amet, risus molestie malesuada. Odio nam purus
            consectetur euismod congue leo quisque. Turpis amet sollicitudin
            nunc non in lectus dolor amet. Amet ullamcorper faucibus tincidunt
            accumsan ac adipiscing arcu. Donec tristique at proin maecenas. Ante
            elit et iaculis ac sit.
          </p>
          <div class="buttons mt-3">
            <a href="./contact.html" class="btn btn-dark">Contact</a>
            <a href="#" class="download-cv">
              Download CV
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                <path
                  d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                <path
                  d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
              </svg>
            </a>
          </div>
          <div class="social-icons mt-3">
            <a href="https://www.linkedin.com/in/dede-hidayat-549a71255/"
              class="btn btn-link"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/dedehidayat76"
              class="btn btn-link"><i class="fab fa-instagram"></i></a>
            <a href="https://web.facebook.com/profile.php?id=100065055318238"
              class="btn btn-link" target="_blank"><i
                class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/DedeHid04984064"
              class="btn btn-link"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
        <div class="col-md-5 profile-image">
          <div class="card card-custom">
            <img src="../assests/image/Sukuna-1-1.jpg" alt="profile"
              class="card-img-top">
            <div class="card-body text-center">
              <h2 class="card-title">Dede Hidayat</h2>
              <p class="card-text">Fullstack Dev</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- project content end -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
