<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Web</title>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assests/css/Nav.css">
    <link rel="stylesheet" href="../assests/css/myProject.css">
  </head>
  <body>
    <!-- nav start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../assests/image/logggo.png" alt="ini logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="./home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./myProject.html">My Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./testimonial.html">Testimonial</a>
          </li>
        </ul>
        <button type="button" class="btn btn-secondary">
          <a href="./contact.html"
            class="contact-link text-decoration-none text-wrap"
            style="width: 6rem;">Contact Me</a>
        </button>
      </div>
    </nav>
    <!-- nav end -->

    <!-- content start -->
    <div class="container mt-5">
      <form class="form-contact" onsubmit="submitBlog(event)">
        <h1 class="mb-4">ADD MY PROJECT</h1>

        <div class="form-group">
          <label for="inputProject" class="label-contact">Project Name</label>
          <input type="text" id="inputProject" name="inputProject"
            class="form-control" required>
        </div>

        <div class="date-container mb-3 row">
          <div class="col-md-6">
            <label for="inputDate" class="label-contact">Start Date</label>
            <input type="date" id="inputDate" name="Date" class="form-control"
              required>
          </div>
          <div class="col-md-6">
            <label for="inputDatetime" class="label-contact">End Date</label>
            <input type="date" id="inputDatetime" name="Datetime"
              class="form-control" required>
          </div>
        </div>

        <div class="form-group">
          <label for="inputDescription"
            class="label-contact">Description</label>
          <textarea class="form-control" id="inputDescription"
            name="description" rows="3" required
            style="resize: none; height: 100px;"></textarea>
        </div>

        <label class="label-contact">Technologies</label>
        <div class="technologies mb-3">
          <div class="left-tech">
            <label><input type="checkbox" name="technologies" value="Node Js"
                id="NodeJs"> Node Js</label>
            <label><input type="checkbox" name="technologies" value="React Js"
                id="ReactJs"> React Js</label>
          </div>
          <div class="right-tech">
            <label><input type="checkbox" name="technologies" value="Next Js"
                id="NextJs"> Next Js</label>
            <label><input type="checkbox" name="technologies" value="TypeScript"
                id="TypeScript"> TypeScript</label>
          </div>
        </div>
        <label for="image" class="label-contact">Upload Image</label>
        <div class="input-group mb-3">
          <input type="file" class="form-control"
            aria-label="Amount (to the nearest dollar)"
            placeholder="input images" id="inputImage">
          <span type="file" class="input-group-text"><i
              class="fas fa-paperclip"></i></span>
        </div>
        <button type="submit" class="btn btn-dark"
          value="Submit" id="submitButton">Submit</button>
      </form>
    </div>
    <hr class="line">
    <div class="text-center">
      <h1>My Project</h1>
    </div>
    <div id="content" class="row justify-content-center blog-list">
    </div>
    <!-- content end -->

    <script src="../assests/js/myProject.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
